name: Development workflow

on:
  pull_request:
    branches: [main]

jobs:
  build-react-app:
    environment: build-for-github-actions
    env:
      key: ${{secrets.TEST_SECRET}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      # Check for the key
      - name: Check for the secret key
        run: echo ${key}

      # Install pnpm
      - name: Install pnpm
        run: npm i -g pnpm

      # Install packages
      - name: Install Packages and Dependencies
        run: pnpm install

      # Install packages
      - name: Build
        run: pnpm run build
